<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cita Form</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="container text-center">
    <div class="row">

        <h1 th:if="${cita.id}" class="h1-title">Modificar Cita <span th:text="${cita.id}"></span></h1>
        <h1 th:if="${cita.id} == null" class="h1-title">Crear nueva Cita</h1>

        <div class="col"></div>

        <div class="col">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert" >
                    <p th:text="${error}"></p>
                </div>
                <a type="button" class="btn btn-primary" th:href="@{/citas}">Volver</a>
            </div>

            <form th:if="${error} == null" th:action="@{/citas}" method="POST" th:object="${cita}">

                <input type="hidden" id="id" name="id" th:field="*{id}" />

                <div class="mb-3">
                    <label style="color:#000080;">Elige un Cliente:</label>
                    <select aria-label="Clientes"
                            class="form-select"
                            th:field="*{cliente}">
                        <option th:each="cliente : ${clientes}"
                                th:value="${cliente.id}"
                                th:text="|${cliente.nombreCompleto}, ${cliente.nif}|"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="fechaHora" class="form-label" style="color:#000080;">FechaHora Ej.DD/MM/AA, HH:MM</label>
                    <input type="datetime" class="form-control" id="fechaHora" th:field="*{fechaHora}" >
                </div>

                <div class="mb-3">
                    <label style="color:#000080;">Elige la hora de la avería:</label>
                    <select aria-label="Averias"
                            class="form-select"
                            th:field="*{averia}">
                        <option th:each="averia : ${averias}"
                                th:value="${averia.id}"
                                th:text="|${averia.fechaHora}, ${averia.tipo}|"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label style="color:#000080;">Elige un Vehículo:</label>
                    <select aria-label="Vehiculos"
                            class="form-select"
                            th:field="*{vehiculo}">
                        <option th:each="vehiculo : ${vehiculos}"
                                th:value="${vehiculo.id}"
                                th:text="|${vehiculo.modelo}, ${vehiculo.matricula}|"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <label style="color:#000080;">Elige un Taller:</label>
                    <select aria-label="Talleres"
                            class="form-select"
                            th:field="*{taller}">
                        <option th:each="taller : ${talleres}"
                                th:value="${taller.id}"
                                th:text="|${taller.nombre}|"></option>
                    </select>
                </div>



                <a class="btn btn-danger" th:href="@{/citas}">Cancelar</a>
                <button type="submit" class="btn btn-success">Guardar</button>

            </form>


        </div>

        <div class="col"></div>
    </div>
</div>

<footer th:fragment="newfooter1" class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Conectate a través de nuestras redes sociales</span>
        </div>

        <div>
            <a href="https//www.facebook.com" class="me-4 link-secondary">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https//www.twitter.com" class="me-4 link-secondary">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https//www.google.com" class="me-4 link-secondary">
                <i class="fab fa-google"></i>
            </a>
            <a href="https//www.instagram.com" class="me-4 link-secondary">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https//www.linkedin.com" class="me-4 link-secondary">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https//www.github.com" class="me-4 link-secondary">
                <i class="fab fa-github"></i>
            </a>
        </div>

    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-secondary"></i>Taller FundAdecco2023
                    </h6>
                    <p>
                        En nuestros talleres ofrecemos maxima profesionalidad y soluciones para sus vehiculos
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Electronica</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chapa y Pintura</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Roturas</a>
                    </p>

                </div>
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Norauto</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i> address3</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> + 34 612345678</p>

                </div>


                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">El supercoche</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i>address4</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> + 34 687654321</p>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://funadecco2023.com/">FundAdecco2023.com</a>
    </div>
</footer>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>