<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Address Detail</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div style="margin-left:300px;">  <!-- CAMBIO 1 -->
<div th:replace="~{navbar :: nav1}"></div>
</div><!-- CAMBIO 1 -->
<div class="container text-center">
  <div class="row">

    <h1 class="h1-title">Detalle de Dirección</h1>
    <div class="col"></div>

    <div class="col">

      <div th:if="${error}">
        <div class="alert alert-danger" role="alert" >
          <p th:text="${error}"></p>
        </div>
        <a class="btn btn-primary" th:href="@{/addresses}">Volver</a>
      </div>


      <div class="card" th:if="${error} == null">
        <img src="/img/direccion.png" class="card-img-top" alt="Address Image">
        <div class="card-body">
          <h5 class="card-title" th:text="${address.calle}"></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text="|Numero: ${address.numero}|"></li>

          <li class="list-group-item" th:text="|Ciudad: ${address.ciudad}|"></li>

          <li class="list-group-item" th:text="|Cp: ${address.cp}|"></li>

        </ul>
        <!--  BOTONES DE VER: VOLVER - EDITAR - BORRAR  -->
        <div class="card-body">
          <a class="" th:href="@{/addresses}">
            <img src="/img/volver.png"></a>
          <a class="" th:href="@{/addresses/{id}/edit(id=${address.id})}">
            <img src="/img/editar2.png"></a>
          <a class="" th:href="@{/addresses/{id}/delete(id=${address.id})}">
            <img src="/img/borrar2.png"></a>
        </div>
      </div>
    </div>

    <div class="col"></div>
  </div>
</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>