<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cliente Detail</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="container text-center">
    <div class="row">

        <h1 class="h1-title">Detalle de Cliente</h1>
        <div class="col"></div>

        <div class="col">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert" >
                    <p th:text="${error}"></p>
                </div>
                <a class="btn btn-primary" th:href="@{/clientes}">Volver</a>
            </div>


            <div class="card" th:if="${error} == null">
                <img src="https://dummyimage.com/300" class="card-img-top" alt="Cliente Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${cliente.nombreCompleto}"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|Address: ${cliente.address.calle}, ${cliente.address.ciudad}|"></li>

                    <li class="list-group-item" th:text="|Email: ${cliente.email}|"></li>

                    <li class="list-group-item" th:text="|Nif: ${cliente.nif}|"></li>

                    <li class="list-group-item" th:text="|Telefono: ${cliente.telefono}|"></li>

                    <li class="list-group-item" th:text="|Vehiculo: ${cliente.vehiculo.marca}|"></li>




                </ul>
                <div class="card-body">
                    <a class="btn btn-primary" th:href="@{/clientes}">Volver</a>
                    <a class="btn btn-success" th:href="@{/clientes/{id}/edit(id=${cliente.id})}">Editar</a>
                    <a class="btn btn-danger" th:href="@{/clientes/{id}/delete(id=${cliente.id})}">Borrar</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>