<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cliente Form</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div style="margin-left:300px;"><!-- CAMBIO 1 -->
<div th:replace="~{navbar :: nav1}"></div>
</div><!-- CAMBIO 1 -->
<div class="container text-center">
    <div class="row">

        <h1 th:if="${cliente.id}" class="h1-title" style="color:#000080;">Modificar Cliente <span th:text="${cliente.id}"></span></h1>
        <h1 th:if="${cliente.id} == null" class="h1-title">Crear nuevo Cliente</h1>

        <div class="col"></div>

        <div class="col">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert" >
                    <p th:text="${error}"></p>
                </div>
                <a type="button" class="btn btn-primary" th:href="@{/clientes}">Volver</a>
            </div>

            <form th:if="${error} == null" th:action="@{/clientes}" method="POST" th:object="${cliente}">

                <input type="hidden" id="id" name="id" th:field="*{id}" />

                <div class="mb-3">
                    <label for="nombreCompleto" class="form-label" style="color:#000080;">Introduzca el NombreCompleto</label>
                    <input type="text" class="form-control" id="nombreCompleto" th:field="*{nombreCompleto}" >
                </div>

                <div class="mb-3">
                    <label  class="form-label" style="color:#000080;">Elige una Dirección:</label>
                    <select aria-label="Addresses"
                            class="form-select"
                            th:field="*{address}">
                        <option th:each="address : ${addresses}"
                                th:value="${address.id}"
                                th:text="|${address.calle}, ${address.ciudad}|"></option>
                    </select>
                </div>



                <div class="mb-3">
                    <label for="email" class="form-label" style="color:#000080;">Introduzca el Email</label>
                    <input type="text" class="form-control" id="email" th:field="*{email}">
                </div>

                <div class="mb-3">
                    <label for="nif" class="form-label" style="color:#000080;">Introduzca elNif</label>
                    <input type="text" class="form-control" id="nif" th:field="*{nif}">
                </div>

                <div class="mb-3">
                    <label for="telefono" class="form-label" style="color:#000080;">Introduzca el Telefono</label>
                    <input type="number" class="form-control" id="telefono" th:field="*{telefono}">
                </div>

                <div class="mb-3">
                    <label style="color:#000080;">Elige un Vehículo:</label>
                    <select aria-label="Vehiculos"
                            class="form-select"
                            th:field="*{vehiculo}">
                        <option th:each="vehiculo : ${vehiculos}"
                                th:value="${vehiculo.id}"
                                th:text="|${vehiculo.modelo}, ${vehiculo.matricula}|"></option>
                    </select>
                </div>


                <!-- BOTONES CREAR Y EDITAR: CANCELAR - GUARDAR  -->
                <a class="" th:href="@{/clientes}">
                    <img src="/img/cancelar.png"></a>
                <button type="submit" class="">
                    <img src="/img/guardar.png"></button>

            </form>


        </div>

        <div class="col"></div>
    </div>
</div>

<footer th:fragment="newfooter1" class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Conectate a través de nuestras redes sociales</span>
        </div>

        <div>
            <a href="https//www.facebook.com" class="me-4 link-secondary">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https//www.twitter.com" class="me-4 link-secondary">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https//www.google.com" class="me-4 link-secondary">
                <i class="fab fa-google"></i>
            </a>
            <a href="https//www.instagram.com" class="me-4 link-secondary">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https//www.linkedin.com" class="me-4 link-secondary">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https//www.github.com" class="me-4 link-secondary">
                <i class="fab fa-github"></i>
            </a>
        </div>

    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-secondary"></i>Taller FundAdecco2023
                    </h6>
                    <p>
                        En nuestros talleres ofrecemos maxima profesionalidad y soluciones para sus vehiculos
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Electronica</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chapa y Pintura</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Roturas</a>
                    </p>

                </div>
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Norauto</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i> address3</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> + 34 612345678</p>

                </div>


                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">El supercoche</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i>address4</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> + 34 687654321</p>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://funadecco2023.com/">FundAdecco2023.com</a>
    </div>
</footer>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>