<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taller Form</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div style="margin-left:300px;"><!-- CAMBIO 1 -->
<div th:replace="~{navbar :: nav1}"></div>
</div><!-- CAMBIO 1 -->
<div class="container text-center">
    <div class="row">

        <h1 th:if="${taller.id}" class="h1-title" style="color:#000080;">Modificar Taller <span th:text="${taller.id}"></span></h1>
        <h1 th:if="${taller.id} == null" class="h1-title" style="color:#000080;">Crear Nuevo Taller</h1>

        <div class="col"></div>

        <div class="col">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert" >
                    <p th:text="${error}"></p>
                </div>
                <a type="button" class="btn btn-primary" th:href="@{/talleres}">Volver</a>
            </div>

            <form th:if="${error} == null" th:action="@{/talleres}" method="POST" th:object="${taller}">

                <input type="hidden" id="id" name="id" th:field="*{id}" />

                <div class="mb-3">
                    <label for="nombre" class="form-label" style="color:#000080;">Introduzca el Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" >
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label" style="color:#000080;">Introduzca la Calle</label>
                    <input type="text" class="form-control" id="address" th:field="*{address.calle}" >
                </div>

                <div class="mb-3">
                    <label for="telefono" class="form-label" style="color:#000080;">Introduzca el Teléfono</label>
                    <input type="number" class="form-control" id="telefono" th:field="*{telefono}">
                </div>


                <!-- BOTONES CREAR Y EDITAR: CANCELAR - GUARDAR  -->
                <a class="" th:href="@{/talleres}">
                    <img src="/img/cancelar.png"></a>
                <button type="submit" class="">
                    <img src="/img/guardar.png"></button>

            </form>


        </div>

        <div class="col"></div>
    </div>
</div>
<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>