<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>
<div class="container text-center">
    <div class="row">

        <h1>Registrar Nuevo Usuario</h1>

        <div class="col"></div>

        <div class="col">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                </div>
            </div>

            <form th:action="@{/user/registration}" method="POST" th:object="${user}">

                <input type="hidden" id="id" name="id" th:field="*{id}"/>

                <div class="mb-3">
                    <label for="username" class="form-label">Enter Username</label>
                    <input type="text" class="form-control" id="username" th:field="*{username}">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Enter the Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Enter the Password</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}">
                </div>

                <a class="" th:href="@{/vehiculos}">
                    <img src="/img/cancelar.png"></a>
                <button type="submit" class="">
                    <img src="/img/guardar.png"></button>

            </form>


        </div>

        <div class="col"></div>
    </div>
</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>