<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="container text-center">
    <div class="row">

        <h1>Registrar Nuevo Usuario</h1>

        <div class="col"></div>

        <div class="col">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                </div>
            </div>

            <form th:action="@{/user/registration}" method="POST" th:object="${user}">

                <input type="hidden" id="id" name="id" th:field="*{id}"/>

                <div class="mb-3">
                    <label for="nombreCompleto" class="form-label">Introduzca el Nombre Completo</label>
                    <input type="text" class="form-control" id="nombreCompleto" th:field="*{nombreCompleto}">
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label">Introduzca la Dirección</label>
                    <input type="text" class="form-control" id="address" th:field="*{address}">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Introduzca el Email</label>
                    <input type="text" class="form-control" id="email" th:field="*{email}">
                </div>

                <div class="mb-3">
                    <label for="nif" class="form-label">Introduzca el Nif</label>
                    <input type="text" class="form-control" id="nif" th:field="*{nif}">
                </div>

                <div class="mb-3">
                    <label for="telefono" class="form-label">Introduzca el Teléfono</label>
                    <input type="number" class="form-control" id="telefono" th:field="*{telefono}">
                </div>

                <div class="mb-3">
                    <label for="vehiculo" class="form-label">Introduzca el Vehículo</label>
                    <input type="text" class="form-control" id="vehiculo" th:field="*{vehiculo}">
                </div>
                <!-- BOTONES CREAR Y EDITAR: CANCELAR - GUARDAR  -->
                <a class="" th:href="@{/foods}">
                    <img src="/img/cancelar.png"></a>
                <button type="submit" class="">
                    <img src="/img/guardar.png"></button>

            </form>


        </div>

        <div class="col"></div>
    </div>
</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>