<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Averia Detail</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div style="margin-left:300px;">  <!-- CAMBIO 1 -->
<div th:replace="~{navbar :: nav1}"></div>
</div><!-- CAMBIO 1 -->
<div class="container text-center">
    <div class="row">

        <h1 class="h1-title">Detalles de Avería</h1>
        <div class="col"></div>

        <div class="col">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert" >
                    <p th:text="${error}"></p>
                </div>
                <a class="btn btn-primary" th:href="@{/averias}">Volver</a>
            </div>


            <div class="card" th:if="${error} == null">
                <img src="/img/averia.png" class="card-img-top" alt="Averia Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${averia.tipo}"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|Grado: ${averia.grado}|"></li>

                    <li class="list-group-item" th:text="|Fecha: ${averia.fechaHora}|"></li>

                    <li class="list-group-item" th:text="|Descripción: ${averia.descripcion}|"></li>

                </ul>
                <!--  BOTONES DE VER: VOLVER - EDITAR - BORRAR  -->
                <div class="card-body">
                    <a class="" th:href="@{/averias}">
                        <img src="/img/volver.png"></a>
                    <a class="" th:href="@{/averias/{id}/edit(id=${averia.id})}">
                        <img src="/img/editar2.png"></a>
                    <a class="" th:href="@{/averias/{id}/delete(id=${averia.id})}">
                        <img src="/img/borrar2.png"></a>
                </div>
            </div>
        </div>

        <div class="col"></div>
    </div>
</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>