<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Vehiculo Form</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div style="margin-left:300px;"><!-- CAMBIO 1 -->
<div th:replace="~{navbar :: nav1}"></div>
</div><!-- CAMBIO 1 -->
<div class="container text-center">
  <div class="row">

    <h1 th:if="${vehiculo.id}" class="h1-title" style="color:#000080;">Modificar Vehículo <span th:text="${vehiculo.id}"></span></h1>
    <h1 th:if="${vehiculo.id} == null" class="h1-title" style="color:#000080;">Crear Nuevo Vehículo</h1>

    <div class="col"></div>

    <div class="col">

      <div th:if="${error}">
        <div class="alert alert-danger" role="alert" >
          <p th:text="${error}"></p>
        </div>
        <a type="button" class="btn btn-primary" th:href="@{/vehiculos}">Volver</a>
      </div>

      <form th:if="${error} == null" th:action="@{/vehiculos}" method="POST" th:object="${vehiculo}">

        <input type="hidden" id="id" name="id" th:field="*{id}" />

        <div class="mb-3">
          <label for="modelo" class="form-label" style="color:#000080;">Introduzca el Modelo</label>
          <input type="text" class="form-control" id="modelo" th:field="*{modelo}" >
        </div>

        <div class="mb-3">
          <label for="marca" class="form-label" style="color:#000080;">Introduzca la Marca</label>
          <input type="text" class="form-control" id="marca" th:field="*{marca}">
        </div>

        <div class="mb-3">
          <label style="color:#000080;">Elija un Tipo</label>
          <select aria-label="Tipo" class="form-select" th:field="*{tipo}">
            <option th:each="tipo: ${T(com.example.entities.enums.TipoVehiculo).values()}" th:value="${tipo}" th:text="${tipo}"></option>
          </select>
        </div>

        <div class="mb-3">
          <label for="matricula" class="form-label" style="color:#000080;">Introduzca la Matrícula</label>
          <input type="text" class="form-control" id="matricula" th:field="*{matricula}" >
        </div>

        <div class="mb-3">
          <label style="color:#000080;">Elija un Color</label>
          <select aria-label="Color" class="form-select" th:field="*{color}">
            <option th:each="color: ${T(com.example.entities.enums.Color).values()}" th:value="${color}" th:text="${color}"></option>
          </select>
        </div>

        <div class="mb-3">
          <label style="color:#000080;">Elija un Combustible</label>
          <select aria-label="Combustible" class="form-select" th:field="*{combustible}">
            <option th:each="combustible: ${T(com.example.entities.enums.Combustible).values()}" th:value="${combustible}" th:text="${combustible}"></option>
          </select>
        </div>

        <div class="mb-3">
          <label for="year" class="form-label" style="color:#000080;">Introduzca el Año</label>
          <input type="number" class="form-control" id="year" th:field="*{year}">
        </div>
<!-- BOTONES CREAR Y EDITAR: CANCELAR - GUARDAR  -->
        <a class="" th:href="@{/vehiculos}">
        <img src="/img/cancelar.png"></a>
        <button type="submit" class="btn btn-light">
        <img src="/img/guardar.png"></button>

      </form>


    </div>

    <div class="col"></div>
  </div>
</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>