<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Vehiculo Detail</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div style="margin-left:300px;">
<div th:replace="~{navbar :: nav1}"></div>
</div>
<div class="container text-center">
  <div class="row">

    <h1 class="h1-title" style="color:#000080;">Detalles del Vehículo</h1>
    <div class="col"></div>

    <div class="col">

      <div th:if="${error}">
        <div class="alert alert-danger" role="alert" >
          <p th:text="${error}"></p>
        </div>
        <a class="btn btn-primary" th:href="@{/vehiculos}">Volver</a>
      </div>


      <div class="card" th:if="${error} == null">
        <img src="/img/vehiculo.jpg" class="card-img-top" alt="Vehiculo Image">
        <div class="card-body">
          <h5 class="card-title" th:text="|Modelo: ${vehiculo.modelo}|" style="color:#000080;"></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text="|Marca: ${vehiculo.marca}|" style="color:#000080;"></li>

          <li class="list-group-item" th:text="|Tipo: ${vehiculo.tipo}|" style="color:#000080;"></li>

          <li class="list-group-item" th:text="|Matricula: ${vehiculo.matricula}|" style="color:#000080;"></li>

          <li class="list-group-item" th:text="|Color: ${vehiculo.color}|" style="color:#000080;"></li>

          <li class="list-group-item" th:text="|Combustible: ${vehiculo.combustible}|" style="color:#000080;"></li>

          <li class="list-group-item" th:text="|Año: ${vehiculo.year}|" style="color:#000080;"></li>

        </ul>
        <!--  BOTONES DE VER: VOLVER - EDITAR - BORRAR  -->
        <div class="card-body">
          <a class="" th:href="@{/vehiculos}">
            <img src="/img/volver.png"></a>
          <a class="" th:href="@{/vehiculos/{id}/edit(id=${vehiculo.id})}">
            <img src="/img/editar2.png"></a>
          <a class="" th:href="@{/vehiculos/{id}/delete(id=${vehiculo.id})}">
            <img src="/img/borrar2.png"></a>
        </div>
      </div>
    </div>

    <div class="col"></div>
  </div>
</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>