<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Vehiculo Form</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="container text-center">
  <div class="row">

    <h1 th:if="${vehiculo.id}" class="h1-title">Modificar Vehiculo<span th:text="${vehiculo.id}"></span></h1>
    <h1 th:if="${vehiculo.id} == null" class="h1-title">Crear nuevo Vehículo</h1>

    <div class="col"></div>

    <div class="col">

      <div th:if="${error}">
        <div class="alert alert-danger" role="alert" >
          <p th:text="${error}"></p>
        </div>
        <a type="button" class="btn btn-primary" th:href="@{/vehiculos}">Volver</a>
      </div>

      <form th:if="${error} == null" th:action="@{/vehiculos}" method="POST" th:object="${vehiculo}">

        <input type="hidden" id="id" name="id" th:field="*{id}" />

        <div class="mb-3">
          <label for="modelo" class="form-label">Modelo</label>
          <input type="text" class="form-control" id="modelo" th:field="*{modelo}" >
        </div>

        <div class="mb-3">
          <label for="marca" class="form-label">Marca</label>
          <input type="text" class="form-control" id="marca" th:field="*{marca}">
        </div>

        <div class="mb-3">
          <label for="tipo" class="form-label">Tipo</label>
          <input type="text" class="form-control" id="tipo" th:field="*{tipo}">
        </div>

        <div class="mb-3">
          <label for="matricula" class="form-label">Matricula</label>
          <input type="text" class="form-control" id="matricula" th:field="*{matricula}" >
        </div>

        <div class="mb-3">
          <label for="color" class="form-label">Color</label>
          <input type="text" class="form-control" id="color" th:field="*{color}">
        </div>

        <div class="mb-3">
          <label for="combustible" class="form-label">Combustible</label>
          <input type="text" class="form-control" id="combustible" th:field="*{combustible}">
        </div>

        <div class="mb-3">
          <label for="year" class="form-label">Year</label>
          <input type="number" class="form-control" id="year" th:field="*{year}">
        </div>

        <a class="btn btn-danger" th:href="@{/vehiculos}">Cancelar</a>
        <button type="submit" class="btn btn-success">Guardar</button>

      </form>


    </div>

    <div class="col"></div>
  </div>
</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>